<div class="posi fixed top lef rit">
  <i class="fa fa-comments it green" title="Party chat"></i>
  <a class="bold" (click)="open=true">
    {{namee}}
  </a>
  </div>
  <div *ngIf="open" class="page fixed index bottom top lef rit black" (click)="g()">
  </div>
  <div *ngIf="open" class="fixed index bottom" (click)="g()">
    <a href="/home/partyChat/{{friendId}}/{{name}}#bottom" class="design left bo dess download" title="Party chat">
      <i class="fa fa-comments gree do"></i>            
    </a>
    <button class="box design des" title="Wall" routerLink="/home/partyWall/{{friendId}}/{{name}}">
      <i class="fa fa-user-secret"></i>            
  </button>
  <button class="box design des" title="Gallery" routerLink="/home/partyGallery/{{friendId}}/{{name}}">
      <i class="fa fa-user-clock"></i>            
  </button>
  <button class="box design des" title="Display picture" routerLink="/home/partyDisplayPicture/{{friendId}}/{{name}}">
      <i class="fa fa-portrait"></i>            
  </button>
  <button class="box design des" routerLink="/home/fanPage/{{friendId}}/{{name}}" title="Fan page">
    <i class="fa fa-user-circle"></i>        
</button>
<button [disabled]="!userId"  class="box design des" title="Follow" (click)="add()" >
    <i class="fa fa-user-plus"></i>            
</button>
<button [disabled]="!userId"  class="box design des" title="Unfollow" (click)="remove()">
    <i class="fa fa-user-minus"></i>            
</button>
    </div>
  <div class="spacc space">
  <div class="spac writ" *ngFor="let message of messages | async" [class.me]="message.userId === userId">
    <div class="write">
    <a href="/home/chat/{{message.userId}}/{{message.name}}#bottom" class="bold">{{message.name}}</a>
    <br>
    {{message.text}}
    <div class="right it">{{message.time | date:"EEEE, MMMM d, y 'at' h:mm a"}}</div>
    <div class="clear"></div>
    <a [href]="message.url" download *ngIf="message.ext" class="design left bo dess download" title="Download file">
      <i class="fa fa-download gree do"></i>
    </a>
  <div class="clear"></div>
    </div>
    <img *ngIf="message.ext === 'jpg' || message.ext === 'png' || message.ext === 'gif'" [src]="message.url">    
    <video *ngIf="message.ext === 'mp4'" controls>
      <source [src]="message.url" type="video/mp4">
  </video>
  <audio *ngIf="message.ext === 'mp3'" controls>
      <source [src]="message.url" type="audio/mp3">
  </audio>
  
  </div>
  <a id="bottom"></a> 
  </div>
    <form class="down fixed bottom lef rit" (submit)="send(text)">
      <div class="d">
    <textarea id="te" [placeholder]="name" [(ngModel)]="text" name="text"></textarea>
    </div>
  <label *ngIf="userId" class="file design dess bo" title="Upload file">
  <i class="fa fa-upload gree"></i>
    <input type="file" class="no" (change)="upload($event)">
  </label>
    <button type="submit" [disabled]="!text || !userId" class="full submit des" title="Create message">
  <i class="fa fa-reply"></i>
    </button>
    </form>
  